
*.mp3

*.psd
textswapfiles/node_modules/
textswapfiles/textswapfiles*
textswapfiles/slideshow.txt

textswapfiles\slideshow.txt
/node_modules
/textswapfiles/node_modules
*.exe
.env
textswapfiles/textswapfiles.exe
textswapfiles/slideshowimage.png
textswapfiles/slideshow.txt
textswapfiles/slideshow.txt
textswapfiles/slideshowimage.png
textswapfiles/textswapfiles.exe
textswapfiles/extratxt.txt
